.img{
    width: 200px;
    height: 250px;
    object-fit: fill;
}
.cart{
    width: fit-content;
    height: fit-content;
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    scroll-behavior: smooth;
}
.content{
    display: flex;
    justify-content: space-between;
}
.desc{
    color: gray;
    font-size: 15px;
}
.price{
    text-decoration:line-through;
    color: red;
}
.discount{
    color: green;
}
.priceANDdiscount{
    display: flex;
    gap: 5px;
}

